@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  --DarkGrayishRed: hsl(0, 6%, 24%);

  --firstGradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --secondGradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
body {
  display: grid;
  place-items: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: url(images/bg-pattern-desktop.svg);
}
.centerDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.logoContainer {
  padding-top: 144px;
  padding-left: 144px;
}

.firstSection {
  border: 1px solid red;
  width: 60vw;
  height: 100vh;
}
.secondSection {
  width: 40vw;
  height: 100vh;
  background: url(images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.mainContent {
  text-align: left;
  font-size: 4.1em;
  text-transform: uppercase;
  width: 32vw;
  padding: 140px;
  letter-spacing: 0.4em;
  line-height: 1em;
}
.we {
  font-weight: 300;
  color: var(--DesaturatedRed);
}
.coming {
  font-weight: 600;
  color: var(--DarkGrayishRed);
}
.welcoming {
  width: 47vw;
  color: var(--DesaturatedRed);
  padding-left: 144px;
  line-height: 23px;
}
.inputContainer {
  padding-left: 144px;
}
.emailInput {
  height: 45px;
  width: 440px;
  border: 1px solid var(--DarkGrayishRed);
  border-radius: 22px;
  background-color: var(--firstGradient);
  margin-top: 25px;
  padding: 2px 2px 2px 10px;
}

input[type="text"] {
  font-size: 22px;
  color: var(--DarkGrayishRed);
  padding: 12px 20px;
  font-weight: 400;
  opacity: 1;
}

.inputContainer span {
  display: none;
  position: absolute;
  left: 10%;
  bottom: 21%;
  font-weight: 400;
  color: var(--SoftRed);
}
.errorIcon {
  display: none;
  position: absolute;
  left: 34%;
  bottom: 26%;
  color: var(--SoftRed);
}

.submitButton {
  height: 50px;
  width: 70px;
  border: 1px solid var(--SoftRed);
  border-radius: 55px;
  background-color: var(--SoftRed);
  cursor: pointer;
  /* transform: translate(-55px, -2px); */
  position: absolute;
  right: 58%;
  bottom: 25%;
}

.submitButton:hover {
  transform: scale(1.2);
  background: var(--secondGradient);
  border: none;
  transition: 1s;
  box-shadow: -1px 2px 3px 16px hsl(0, 93%, 68%);
}

.submitButton:hover::before {
  opacity: 1;
}
